"*":
  "atom-beautify":
    general:
      _analyticsUserId: "4de42029-6572-41bb-86d8-462ecfecfaf9"
  core:
    audioBeep: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    lineHeight: 1.3
    maxScreenLineLength: 500000
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "ce431e12-5d19-45b6-9222-629a19e00919"
  welcome:
    showOnStartup: false
".scala.source":
  editor:
    showIndentGuide: false
    tabLength: 2
