"*":
  "atom-material-ui":
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    audioBeep: false
    telemetryConsent: "limited"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Iosevka"
    fontSize: 20
    lineHeight: 1.2
    maxScreenLineLength: 500000
    scrollPastEnd: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "7800e055-313a-4537-a8d6-89d2070f6a98"
  "linter-ui-default":
    panelHeight: 284
    showPanel: true
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
".ansible.source":
  editor:
    tabLength: 2
".coffee.source":
  editor:
    autoIndentOnPaste: true
    showIndentGuide: true
    tabLength: 2
".go.source":
  editor:
    autoIndentOnPaste: true
    tabLength: 2
    tabType: "hard"
".js.source":
  editor:
    showIndentGuide: false
    tabLength: 2
".json.source":
  editor:
    autoIndentOnPaste: true
    tabLength: 2
".scala.source":
  editor:
    showIndentGuide: false
    tabLength: 2
".shell.source":
  editor:
    showIndentGuide: true
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
